<h1><u>{{name}}</u></h1>
<br>
<hr>
<hr>
<br>
<div>
    <ol>
        {{#with users.[0]}}
        <li>
            <h2>{{name}}</h2>
            ({{gender}})
            <br>
            <small><em>age:</em></small>{{age}}
            <br>
            <small><em>id:</em></small>{{id}}
            <br>
            <br>
            <div>
                <p><b>Friends of {{name}}</b></p>
                <ol>
                    {{#each friends}}
                    <li>
                        <b><em>{{name}}</em></b>
                        ({{gender}})
                        <br>
                        <small><em>age:</em></small>{{age}}
                        <br>
                        <small><em>id:</em></small>{{id}}
                        <br>
                        <br>
                        <p><b>Friends of {{name}}</b></p>
                        <ol>
                            {{#each mutual_friends}}
                            <li>
                                <b>{{name}}</b>
                                ({{gender}})
                                <br>
                                <small><em>age:</em></small>{{age}}
                                <br>
                                <small><em>id:</em></small>{{id}}
                                <hr><br>
                            </li>
                            {{/each}}
                        </ol>
                        <br>
                        <br>
                    </li>
                    {{/each}}
                </ol>
                <p><b>Groups:</b></p>
                <ol>
                    {{#each groups}}
                    <li>
                        <b><em>{{name}}</em></b>
                        <p><em><small>{{description}}</small></em></p>
                        <small><em>id:</em></small>{{id}}
                        <br>
                        <br>
                        <br>
                        <p><b>Members of {{name}}</b></p>
                        <ol>
                            {{#each members}}
                            <li>
                                <b>{{name}}</b>
                                ({{gender}})
                                <br>
                                <small><em>age:</em></small>{{age}}
                                <br>
                                <small><em>id:</em></small>{{id}}
                                <hr><br>
                            </li>
                            {{/each}}
                        </ol>
                        <br>
                        <br>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <br>
            <hr>
            <hr>
            <hr>
            <br>
        </li>
        {{/with}}
        </ul>
</div>
<div>
    <ol>
        {{#with users.[1]}}
        <li>
            <h2>{{name}}</h2>
            ({{gender}})
            <br>
            <small><em>age:</em></small>{{age}}
            <br>
            <small><em>id:</em></small>{{id}}
            <br>
            <br>
            <div>
                <p><b>Friends of {{name}}</b></p>
                <ol>
                    {{#each friends}}
                    <li>
                        <b><em>{{name}}</em></b>
                        ({{gender}})
                        <br>
                        <small><em>age:</em></small>{{age}}
                        <br>
                        <small><em>id:</em></small>{{id}}
                        <br>
                        <br>
                        <p><b>Friends of {{name}}</b></p>
                        <ol>
                            {{#each mutual_friends}}
                            <li>
                                <b>{{name}}</b>
                                ({{gender}})
                                <br>
                                <small><em>age:</em></small>{{age}}
                                <br>
                                <small><em>id:</em></small>{{id}}
                                <br>
                                <ol>
                                    {{#each mutual_friends}}
                                    <li>
                                        <b>{{name}}</b>
                                        ({{gender}})
                                        <br>
                                        <small><em>age:</em></small>{{age}}
                                        <br>
                                        <small><em>id:</em></small>{{id}}
                                        <hr><br>
                                    </li>
                                    {{/each}}
                                </ol>
                                <hr><br>
                            </li>
                            {{/each}}
                        </ol>
                        <br>
                        <br>
                        <p><b>Groups:</b></p>
                        <ol>
                            {{#each groups}}
                            <li>
                                <b><em>{{name}}</em></b>
                                <p><em><small>{{description}}</small></em></p>
                                <small><em>id:</em></small>{{id}}
                                <br>
                                <br>
                                <br>
                                <p><b>Members of {{name}}</b></p>
                                <ol>
                                    {{#each members}}
                                    <li>
                                        <b>{{name}}</b>
                                        ({{gender}})
                                        <br>
                                        <small><em>age:</em></small>{{age}}
                                        <br>
                                        <small><em>id:</em></small>{{id}}
                                        <hr><br>
                                    </li>
                                    {{/each}}
                                </ol>
                                <br>
                                <br>
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <br>
            <hr>
            <hr>
            <hr>
            <br>
        </li>
        {{/with}}
        </ul>
</div>