<main class="m-4 p-4">
    {{#with person}}
    <div class="my-4">
        <h1 style="color:rgb(104, 109, 2)">{{name}}</h1>
    </div>
    <div>
        <em style="color:rgb(37, 7, 156)"><b>age:</b> ({{age}}) <b>gender:</b> ({{gender}})</em>
    </div>
    <div class="my-2">
        <em>
            <ol style="color:rgb(37, 7, 156)" class="breadcrumb">
                <b class="me-4">address:</b>
                <li class="breadcrumb-item">
                    {{address.street}}
                </li>
                <li class="breadcrumb-item">
                    {{address.state}}
                </li>
                <li class="breadcrumb-item">
                    {{address.zip}}
                </li>
                <li class="breadcrumb-item">
                    {{address.country}}
                </li>
            </ol>
        </em>
    </div>


    <hr class="my-2">

    <div class="row">
        <div class="col-5">
            <div style="background: rgb(240, 238, 238)" class="card">
                <div class="card-body">
                    <div>
                        <h3 style="color:rgb(104, 109, 2)">Education:</h3>
                    </div>
                    <div style="color:rgb(37, 7, 156)" class="py-2">
                        <div class="row">
                            {{#each education}}
                            <div class="col-6">
                                <b><em>graduated</em></b>:
                                <br><br><br><br>
                                <b><em>degree</em></b>:
                            </div>
                            <div class="col-6">
                                "{{university}}" in {{graduationYear}}
                                <br><br>
                                {{degree}} <em><br><b>major</b></em>: {{major}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">
            <div style="background: rgb(237, 235, 235)" class="card">
                <div class="card-body">
                    {{#each workExperience}}
                    <h3 style="color:rgb(104, 109, 2)">Work Experience</h3>
                    <div class="row" style="color:rgb(37, 7, 156)" class="py-2">
                        <div class="col-4">
                            <div class=" mt-1">company:</div>
                            <div class=" my-1">since:</div>
                            <div class=" my-1">job title:</div>
                            <div class=" mt-4 mb-2">industry:</div>
                            <div class=" my-2">from:</div>
                            <div class=" my-2">to:</div>
                            <div class=" my-2">My responsibilities:</div>
                        </div>
                        <div class="col-8">
                            <b class=" mt-1">{{company}}</b>
                            <div class=" my-1">{{year_founded}}</div>
                            <div class=" my-1">{{title}}</div>
                            <div class=" mt-4 mb-2">{{industry}}</div>
                            <div class=" my-2">{{startDate}}</div>
                            <div class=" my-2">
                                {{#if endDate}} {{endDate}}
                                {{else}} (still working...)
                                {{/if}}
                            </div>
                            <div class=" my-2">{{responsibilities}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <hr class="my-2">

    <div>
        {{#each workExperience}}


        <div class="my-5">
            {{#each employees}}
            <ul>
                <h3 style="color:rgb(104, 109, 2)" class="my-4">Employees:</h3>

                <li style="color:rgb(37, 7, 156)">
                    {{name}} - ({{position}}) || <small>department:</small> {{department}}
                    <br />
                    <br />
                    <details>
                        <summary>Projects:</summary>
                        <ul>

                            {{#each projects}}
                            <li>
                                "{{name}}"
                                <br />
                                _ {{description}}
                                <br />
                                _ <small>status:</small>
                                <u>
                                    {{#if status}} {{status}}
                                    {{else}} (Finished)
                                    {{/if}}
                                </u>
                                <br />
                                <br />
                                <b>teams:</b>
                                <ul>
                                    {{#each teams}}

                                    <li>
                                        <small>team:</small> {{team_name}}
                                        <br />
                                        <small>{{team_leader.title}}:</small> {{team_leader.name}}
                                        ||
                                        <small>email:</small> {{> link text=team_leader.email href=team_leader.email
                                        blank=true }}
                                        <br>
                                        <br>
                                        <em><u>Team members:</u></em>
                                        <ul>
                                            {{#each team_members}}
                                            <li>
                                                {{name}} || {{title}} ||
                                                {{> link text=email href=email blank=true }} || {{skills}}
                                                <br>

                                                <details>
                                                    <summary>Projects:</sumarry>

                                                        <ul>
                                                            {{#each projects}}
                                                            <li>
                                                                {{name}} || {{description}} || {{technologies}}
                                                                <br>
                                                                <br>
                                                                <ul>
                                                                    <em>Team members:</em>
                                                                    <br>

                                                                    {{#each team_members}}
                                                                    <li>
                                                                        {{name}} || {{title}}
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </li>
                                                            {{/each}}
                                                        </ul>

                                                </details>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>

                                    {{/each}}
                                </ul>
                            </li>

                            {{/each}}
                        </ul>
                    </details>
                </li>
            </ul>
            {{/each}}
        </div>


        {{/each}}
    </div>

    {{/with}}
</main>