<div class="text-center">
    <h1>{{page_header.title}}</h1>
    <p class="text-uppercase">{{page_header.description}}</p>
</div>
<br>
{{#with section}}
<div class="card">
    <div class="card-body">

        <div class="text-end">
            <p class="display-6">{{about_us.title_list.main}}</p>
            <h2>{{about_us.title_list.sub}}</h2>
        </div>
        <button class="btn btn-outline-info">
            {{about_us.button.text}}
        </button>

    </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">
        {{#with advantage}}
        <p class="display-5">{{title}}</p>
        <div class="card">
            <div class="card-body">
                <p class="display-4">{{efficiency.title}}</p>
                <h6>{{efficiency.sub_title}}</h6>
                <p>{{efficiency.description}}</p>
                <button class="btn btn-outline-warning">
                    {{efficiency.button}}
                </button>
            </div>
        </div>
        <br>
        <br>


        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p class="display-4">{{innovation.title}}</p>
                    <h6>{{innovation.sub_title}}</h6>
                    <p>{{innovation.description}}</p>
                </div>
                <button class="btn btn-outline-warning">
                    {{innovation.button}}
                </button>
            </div>
        </div>

        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <div class="text-end">
                    <p class="display-4">{{collaboration.title}}</p>
                    <h6>{{collaboration.sub_title}}</h6>
                    <p>{{collaboration.description}}</p>
                </div>
                <button class="btn btn-outline-warning">
                    {{collaboration.button}}
                </button>
            </div>
        </div>
        {{/with}}
    </div>
</div>



<div class="card">
    <div class="card-body">
        <p class="display-5">{{agreement.title}}</p>
        <div class="card">
            <div class="card-body">
                {{#with agreement.info}}
                <h5>{{sub_title}}</h5>
                <div class="card">
                    <div class="card-body">
                        <p>{{detail.text}}</p>
                        <button class="btn btn-success">
                            {{detail.button}}
                        </button>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</div>
{{/with}}




<div class="card">
    <div class="card-body"></div>
</div>